main{
    overflow-x: hidden;
}
html, body{
    margin: 1em;
    font-family: Verdana;
    font-size: 16px;
    background-color: antiquewhite;
    color: darkslategrey;
}

main{
    padding: 0 1em;
}

strong{
    color : darkblue;
}

a{
    text-decoration: underline;
    color :blueviolet
}
a:hover{
    color: blue;
}

pre{
    margin: 10px;
    padding: 1em;
    color : darkblue;
    background-color: springgreen;
    border: 2px darkblue solid;
    width: 80%;
    overflow-x: scroll;
    scrollbar-color: rebeccapurple white;
    scrollbar-width: thin;
}

/* p{
    text-wrap: wrap;
} */
.Layout{
    display: flex;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap : 2em;
    height: 200px;
    min-width: 100px;
    justify-content: flex-start;
    align-items: flex-start;
}
aside{
    display: flex;
    align-items: center;
    border-right: 5px darkblue solid;   
    position: sticky;
    top : 5em;
    height: 300px;
}

/* .horizontal-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */